<<<<<<< HEAD
body {
  font-family: 'Droid Serif';
=======
$background: #ffffff;
$text: #000000;
$link: #0738be;

$code-background: darken($background, 13%);
$code-highlighted: darken($background, 5%);

body {
  font-family: 'Roboto';
>>>>>>> upstream/master
}

h1,
h2,
<<<<<<< HEAD
h3 {
  font-family: 'Yanone Kaffeesatz';
=======
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab';
>>>>>>> upstream/master
  font-weight: 400;
  margin-bottom: 0;
}

<<<<<<< HEAD
h4 {
  margin-bottom: 0;
}

.remark-slide-content {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.6em;
  }
}

.footnote {
  position: absolute;
  bottom: 3em;
}

.red {
  color: #fa0000;
}

a,
a>code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}

code {
  background: #e7e8e2;
  border-radius: 5px;
}

.remark-code,
.remark-inline-code {
  font-family: 'Ubuntu Mono';
}

.remark-code-line-highlighted {
  background-color: #373832;
=======
h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

a {
  color: $link;
  text-decoration: none;
}

pre code {
  font-family: "Roboto Mono";
  background: $code-background;
  border-radius: 5px;
  padding: 1em;
  display: block;
}

table {
  border: 1px solid black;
  border-collapse: collapse;

  * {
    border: 1px solid black;
    padding: .4em;
  }

>>>>>>> upstream/master
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

<<<<<<< HEAD
.inverse {
  background: #272822;
  color: #cccccc;
  text-shadow: 0 0 20px #333;
}

.inverse h1,
.inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

/* Slide-specific styling */
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}

.two-columns {
  columns: 2;
  column-gap: 2em;
=======
.two-columns {
  columns: 2;
  column-gap: 2em;
}

.footnote {
  position: absolute;
  bottom: 3em;
}

.array {
  * {
    text-align: center;
  }

  th {
    font-size: 2.2em;
  }
}

.MathJax {
  font-size: 2.5em;
>>>>>>> upstream/master
}